/*
 * PHP Webservice SOAP
 * Authors : Deniz Yilmaz
 */

/* General
 *========================================*/
body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em; line-height: 1.6; font-weight: 400; margin-top: 110px;
}

/* Index
 *========================================*/
